html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    background-color: #fff;
    color: $main;
}

main {
    flex-grow: 1;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: $accent;
    color: #fff;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    &__footer {
        margin-bottom: 15px;
        display: block;
    }
}

.title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -1px;
}

.subtitle {
    color: $accent;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 44px;
    text-align: center;
    border: 2px solid $accent;
    color: $accent;
    font-weight: 500;
}

.social {
    display: flex;

    &__item {
        display: flex;
        transition: background-color 0.3s;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            background-color: #fff;

            .social__icon {
                fill: $accent;
            }
        }
    }

    &__icon {
        padding: 9px 10px;
        border: 2px solid rgba(#fff, 0.1);
        fill: #fff;
        transition: fill 0.3s;
    }
}

.arrow {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 85px;
    z-index: 9;
    opacity: 0.7;
    transition: opacity 0.5s;

    &:hover {
        opacity: 1;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.lock {
    overflow: hidden;
}