html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    background-color: #fff;
    color: $main;
}

main {
    flex-grow: 1;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: transparent;
    background-color: $accent;
    color: #fff;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    z-index: 3;
    &__footer {
        margin-bottom: 15px;
        display: block;
    }
}

.title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -1px;

    @media(max-width: $medium) {
        font-size: 45px;
    }

    @media(max-width: $small-phone) {
        font-size: 32px;
    }
}

.subtitle {
    color: $accent;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}

.more {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: auto;
    width: 160px;
    height: 44px;
    text-align: center;
    border: 2px solid $accent;
    outline: transparent;
    color: $accent;
    font-weight: 500;
    transition: color 0.3s, box-shadow 0.3s, font-weight 0.3s;

    span {
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $accent;
        transition: width 0.3s;
        z-index: 0;
    }

    &:hover {
        color: #fff;

        &::before {
            width: 100%;
        }
    }

    &:focus {
        font-weight: 600;
        box-shadow: 0 0 10px $accent;
    }

    &:active {
        box-shadow: 0 0 10px $accent;
    }

    @media(max-width: $small-phone) {
        width: 130px;
        height: 40px;
    }
}

.social {
    display: flex;

    &__item {
        display: flex;
        transition: background-color 0.3s;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            background-color: #fff;

            .social__icon {
                fill: $accent;
            }
        }

        &:active {
            background-color: $accent;

            .social__icon {
                fill: #fff;
            }
        }
    }

    &__icon {
        padding: 9px 10px;
        border: 2px solid rgba(#fff, 0.1);
        fill: #fff;
        transition: fill 0.3s;
    }
}

.slick-dots {
    
    button {
        font-size: 0;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        border: 2px solid rgba(#F3F4F8, 0.3);
        background-color: transparent;  
        cursor: pointer;
        transition: background-color 0.5s; 
    }
}

.arrow {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 85px;
    z-index: 9;
    opacity: 0.7;
    transition: opacity 0.5s;

    &:hover {
        opacity: 1;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.lock {
    overflow: hidden;
}

.overflow {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0, 0.5);

    &--active {
        display: block;
    }
}