.other-look {
    .about {
        padding: 120px 0;

        @media(max-width: $tablet) {
            padding: 80px 0;
        }

        @media(max-width: $medium) {
            padding: 70px 0;
        }

        @media(max-width: $small-phone) {
            padding: 60px 0;
        }
    }

    .study {
        padding: 39px 0 129px;
        background-color: #fff;

        @media(max-width: $tablet) {
            padding: 39px 0 100px;
        }

        @media(max-width: $medium) {
            padding: 39px 0 80px;
        }

        @media(max-width: $small-phone) {
            padding: 39px 0 60px;
        }
    
        &__top {
            margin-bottom: 56px;
            justify-content: center;
            text-align: center;
        }
    
        &__title {
            color: $main;
        }
    
        &__item {
            flex: 0 1 auto;
            width: 370px;
        }
    }

    .form {

        max-width: 670px;
        width: 100%;

        &__title {
            margin-right: 10px;
            font-size: 50px;

            @media(max-width: $tablet) {
                margin: 0 auto 20px;
                text-align: center;
                max-width: 100%;
            }

            @media(max-width: $medium) {
                font-size: 45px;
            }

            @media(max-width: $small-phone) {
                font-size: 40px;
            }
        }

        &__button {
            @media(max-width: $tablet) {
                margin: 0 auto;
            }
        }
    }

    .faq {
        padding: 122px 15px 130px;
        background-color: $athens;

        @media(max-width: $tablet) {
            padding: 85px 15px 80px;
        }

        @media(max-width: $small-phone) {
            padding: 70px 15px 60px;
        }

        &__answers {
            max-width: 870px;
        }

        &__tabs {
            background-color: #fff;
        }
    }

    .accordion {
        &__title {
            background-color: #fff;
        }

        &__text {
            background-color: #fff;
        }
    }
}