.aside {

    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 100%;

    @media(max-width: $large) {
        max-width: 311px;
    }

    @media(max-width: $tablet) {
        max-width: 100%;
        order: 0;
    }

    &__search {
        margin-bottom: 30px;
    }

    &__form {
        margin-bottom: 30px;
        padding: 34px 50px 49px 49px;
        display: flex;
        flex-direction: column;
        border: 2px solid #E7E9EF;

        &--tag {
            display: block;

            .aside__title {
                display: block;
            }

            .aside__label {
                display: inline-flex;
            }
        }

        @media(max-width: $large) {
            padding: 34px 20px 49px 20px;
        }

        @media(max-width: $medium) {
            display: none;
        }
    }

    &__label {

        &--search {
            display: flex;
            justify-content: space-between;
            height: 60px;
            border: 1px solid #11ABA0;
            border-left: 3px solid #11ABA0;

            .aside__input {
                width: 100%;
            }

            @media(max-width: $small-phone) {
                height: 45px;
            }
        }
    }

    &__input {
        padding: 15px 10px;
        outline: transparent;
        border: none;
    }

    &__button {
        padding-right: 25px;
        width: 58px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__icon {
        fill: $accent;
    }

    &__input {

        &:checked + .aside__checkbox {
            color: $accent;

            &::before {
                background-color: $accent;
            }
        }

        &:checked + .aside__tag {
            color: #fff;
            background-color: $accent;
        }
    }

    &__title {
        margin-bottom: 27px;
        font-size: 20px;
        font-weight: 700;

        &--post {
            margin-bottom: 37px;
        }
    }

    &__category {
        &:not(:last-child) {
            border-bottom: 1px solid #E7E9EF;
        }
    }

    &__checkbox {
        padding: 13px 19px 11px;
        position: relative;
        display: block;
        color: #54565C;
        cursor: pointer;
        transition: color 0.3s;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #BDC0CA;
            transition: background-color 0.3s;
        }

        &:hover {
            color: $accent;

            &::before {
                background-color: $accent;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 29px;
        }
    }

    &__box-img {
        margin-right: 20px;
        width: 70px;
        height: 70px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        max-width: 178px;
    }

    &__date {
        padding-left: 19px;
        margin-bottom: 13px;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: #54565C;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 12px;
            height: 13px;
            background-image: url('../images/icons/date.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__name {
        font-weight: 600;
        transition: color 0.3s;

        &:hover {
            color: $accent;
        }
    }

    &__tag {
        margin-bottom: 10px;
        padding: 13px 16px 11px 17px;
        background-color: #F5F6F9;
        color: #54565C;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;

        &:hover {
            color: #fff;
            background-color: $accent;
        }
    }
}