.blog {

    padding: 120px 0;

    @media(max-width: $tablet) {
        padding: 100px 0;
    }

    @media(max-width: $medium) {
        padding: 90px 0;
    }

    @media(max-width: $small-phone) {
        padding: 50px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @media(max-width: $medium) {
            flex-direction: column;
        }
    }

    &__right {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;

        @media(max-width: $medium) {
            margin-right: 0;
            order: 1;
        }
    }

    &__list {   
        margin-bottom: 28px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 30px;
        position: relative;
        flex: 0 1 48%;
        box-shadow: 0 30px 60px 0 rgba(13, 30, 80, 0.1);
        overflow: hidden;
        animation-delay: calc(0.1s * var(--i));

        &::after {
            position: absolute;
            content: '';
            bottom: 70px;
            width: 100%;
            height: 1px;
            background-color: #E7E9EF;
        }

        @media(max-width: $tablet) {
            flex: 0 1 100%;
        }
    }

    &__img-box {
        width: 100%;
        height: 280px;

        @media(max-width: $small-phone) {       
            height: 210px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        padding: 43px 50px 20px 50px;
        display: flex;
        flex-direction: column;
        color: #55575C;

        @media(max-width: $large) {
            padding: 43px 20px 20px 20px;
        }

        @media(max-width: $medium) {
            padding: 23px 10px 20px 10px;
        }
    }

    &__date {
        padding-left: 25px;
        margin-bottom: 26px;
        position: relative;
        font-size: 15px;

        &::before {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 15px;
            transform: translateX(-100%);
            width: 15px;
            height: 15px;
            background-image: url('../images/icons/clock.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__title {
        margin-bottom: 10px;
        letter-spacing: -0.6px;
        font-size: 24px;
        font-weight: 700;
        color: $main;
        @extend %limit;
        transition: color 0.3s;

        &:hover {
            color: $accent;
        }
    }

    &__summary {
        margin-bottom: 33px;
        line-height: 1.5;
        @extend %limit;
        -webkit-line-clamp: 2;
    }

    &__bottom {
        padding-top: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: -0.7px;
    }

    &__author {
        display: flex;
        align-items: center;
        font-weight: 500;
        color: $main;
        transition: color 0.3s;

        &:hover {
            color: $accent;
        }
    }

    &__author-img {
        margin-right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__comments {
        position: relative;
        transition: color 0.3s;

        &::before {
            content: '';
            position: absolute;
            transform: translateX(-100%);
            left: -12px;
            top: 1px;
            width: 14px;
            height: 14px;
            background-image: url('../images/icons/comment.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &:hover {
            color: $accent;
        }
    }

    &__pagination {
        display: flex;

        @media(max-width: $medium) {
            justify-content: center;
        }
    }

    &__pagination-item {
        margin-right: 10px;
        position: relative;
        width: 40px;
        height: 40px;
        border: 2px solid #E7E9EF;
        transition: background-color 0.3s, box-shadow 0.3s;

        &--active {
            background-color: $accent;
            border: 2px solid transparent;

            .blog__link {
                color: #fff;
            }
        }

        &:last-child {
            margin-left: 5px;
            width: 60px;
            border: none;
        }

        &:hover {
            background-color: $accent;
            border: 2px solid transparent;

            .blog__link {
                color: #fff;
                fill: #fff;
            }
        }

        &:active {
            box-shadow: 0 0 10px $accent;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 0.3s;
    }

    &__svg {
        margin-left: 5px;
    }
}