.call {

    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 420px;
        z-index: 1;
    }

    &__title {
        max-width: 660px;
        width: 100%;
        font-size: 60px;
        font-weight: 700;
        color: #fff;
        letter-spacing: -1.5px;
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 60px;
        font-weight: 500;
        color: $main;
        background-color: #fff;
        overflow: hidden;
        outline: transparent;
        transition: color 0.3s, box-shadow 0.3s, font-weight 0.3s;

        span {
            position: absolute;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            top: -100%;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $accent;
            transition: top 0.3s;
        }

        &:hover {
            color: #fff;

            &::before {
                top: 0;
            }
        }

        &:active {
            font-weight: 600;
        }

        &:focus {
            box-shadow: 0 0 10px #fff;
        }
    }
}