.course {

    position: relative;
    height: 500px;
    background-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: box-shadow 0.3s;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-image: url('../images/study/overlay.svg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: opacity 0.5s;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -32px;
        width: 100%;
        height: 189px;
        background-image: url('../images/study/hover.svg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &:hover {
        background-blend-mode: normal;

        &::after {
            opacity: 0;
        }

        &::before {
            opacity: 1;
        }
    }

    @media(max-width: $large) {
        height: 400px;
    }

    @media(max-width: $small-phone) {
        height: 300px;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    &__content {
        padding: 0 69px 48px 42px;
        position: absolute;
        bottom: 0;
        color: #fff;
        z-index: 1;

        @media(max-width: $extra-large) {
            padding: 0 45px 48px 30px;
        }

        @media(max-width: $tablet) {
            padding: 0 20px 35px 20px;
        }

        @media(max-width: $medium) {
            padding: 0 15px 23px 15px;
        }
    }

    &__name {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
    }

    &__descr {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;

        @media(max-width: $small-phone) {
            font-size: 22px;
        }
    }
}