.header {

    z-index: 50;
    background-color: #fff;

    &__inner {
        padding: 11px 0 13px;
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 538px;
        width: 100%;

        @media(max-width: $medium) {
            max-width: 88px;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            .header__search-icon {
                fill: $accent;
            }
        }

        @media(max-width: $small-phone) {
            display: none;
        }
    }

    &__search-icon {
        margin-right: 9px;
        fill: $main;
        transition: fill 0.3s;
    }

    &__input {
        margin-right: 50px;
        padding: 0;
        width: 54px;
        height: 100%;
        outline: transparent;
        border: none;
        cursor: pointer;
        transition: width 0.3s;

        &::placeholder {
            transition: color 0.7s;
        }

        &:hover {
            width: 100px;
        }

        &:focus {
            width: 100px;

            &::placeholder {
                color: $accent;
            }
        }

        @media(max-width: $tablet) {
            margin-right: 25px;
        }
    }

    &__button {
        position: relative;
        width: 130px;
        height: 44px;
        overflow: hidden;
        transition: font-weight 0.3s, box-shadow 0.3s;

        @media(max-width: $tablet) {
            width: 100px;
        }
        
        span {
            position: absolute;
            z-index: 1;
            transition: opacity 0.3s, transform 0.3s;

            &:nth-child(1) {
                opacity: 1;
                transition-delay: 0.3s;
            }

            &:nth-child(2) {
                opacity: 0;
                transform: scale(3);
                transition-delay: 0s;
            }
        }

        &::before, &:after {
            content: '';
            position: absolute;
            top: 0;
            width: 0;
            height: 100%;
            background-color: red;
            transition: width 0.5s;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &:hover {

            span {
                &:nth-child(1) {
                    transition-delay: 0.1s;
                    transform: scale(0);
                }

                &:nth-child(2) {
                    transition-delay: 0.4s;
                    opacity: 1;
                    transform: scale(1);
                }
            }

            &::before, &:after {
                width: 50%;
            }
        }

        &:active {
           font-weight: 600;
           box-shadow: 0 0 10px $accent;
        }

        &:focus {
            box-shadow: 0 0 10px $accent;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-height: 77vh;
        height: 1px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        color: #fff;
        z-index: 1;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/header/bg.svg');
            z-index: -1;
        }

        @media(max-width: $small-phone) {
            min-height: 69vh;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100%;

        @media(max-width: $tablet) {
            align-items: center;
            text-align: center;
        }
    }

    &__title { 
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        max-width: 592px;
        font-weight: 700;
        font-size: 80px;
        letter-spacing: -2px;

        @media(max-width: $tablet) {
            max-width: 551px;
            font-size: 70px;
        }

        @media(max-width: $tablet) {
            max-width: 486px;
            font-size: 60px;
        }

        @media(max-width: $small-phone) {
            max-width: 400px;
            font-size: 40px;
        }
    }
    
    &__subtitle {
        margin-bottom: 50px;
        max-width: 535px;
        line-height: 1.5;

        @media(max-width: $small-phone) {
            margin-bottom: 15px;
        }
    }

    &__link {
        padding: 15px 28px;
        position: relative;
        width: 160px;
        font-weight: 500;
        border: 1px solid rgba(#11ABA0, 0.2);
        color: #fff;
        z-index: 1;
        outline: transparent;
        overflow: hidden;
        transition: color 0.3s, border 0.3s, box-shadow 0.3s;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 100%;
            background-color: #fff;
            transition: top 0.3s;
            z-index: -1;
        }

        &:hover {
            color: $main;

            &::after {
                top: 0;
            }
        }

        &:active {
            color: $accent;
        }

        &:focus {
            border: 1px solid #fff;
            box-shadow: 0 0 10px #fff;
        }
    }

    &__burger {
        margin-left: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 3;
        overflow: hidden;
        transition: all 0.5s ease-in-out;

        &--active {
            .header__burger-btn {
                background-color:  transparent;
                transform: translateX(-50px);

                &::before {
                    transform: rotate(45deg) translate(32px, -37px);
                }

                &::after {
                    transform: rotate(-45deg) translate(37px, 32px);
                }
            }
        }

        @media(max-width: $medium) {
            display: flex;
        }
    }

    &__burger-btn {
        position: relative;
        display: block;
        width: 40px;
        height: 4px;
        background-color: #000;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out, background-color 0.5s;

        &::before, &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: #000;
            transition: transform 0.5s ease-in-out;
        }

        &::before {
            transform: translateY(-12px);
        }

        &::after {
            transform: translateY(12px);
        }
    }

    .slick-dots {
    
        display: flex;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        @media(max-width: $small-phone) {      
            bottom: 18px;
        }

        button {
            transition: background-color 0.3s;

            &:hover {
                background-color: rgba(#fff, 0.5);
            }
        }
    }
    
    .slick-active {
        
        button {
            background-color: #fff;
        }
    }
}

.menu {

    &__list {
        display: flex;

        @media(max-width: $medium) {
            padding: 20px 0;
            position: absolute;
            top: 157px;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            text-align: center;
            background-color: #fff;
            z-index: 2;
            transform: translateY(-200%);
            transition: transform 0.3s;

            &--active {
                transform: translateY(0);
            }
        }
    }

    &__item {
        margin-right: 10px;

        &:not(:last-child) {
            margin-right: 35px;
        }

        @media(max-width: $medium) {
            margin-right: 0;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    &__link {
        position: relative;
        font-weight: 500;
        color: $main;
        transition: color 0.3s;

        &::before, &::after {
            position: absolute;
            content: '';
            bottom: -10px;
            height: 2px;
            background-color: $accent;
            width: 0;
            transition: width 0.3s, background-color 0.3s;

            @media(max-width: $medium) {
                bottom: 0;
            }
        }

        @media(max-width: $medium) {
            font-size: 24px;
        }

        &::before {
            left: 50%;
        }

        &::after {
            right: 50%;
        }

        &:hover {
            color: $accent;

            &::before, &::after {
                width: 50%;
            }
        }

        &:active {
            &::before, &::after {
                background-color: $grey;
            }
        }

        &:focus {
            outline-color: $accent;
        }

        @media(max-width: $tablet) {
            padding: 15px 0;
            display: block;
        }
    }
}