.top {

    background-color: #0A1B4C;

    &__content {
        padding: 13px 0 7px;
        display: flex;
        justify-content: space-between;
        color: $grey;     
    }

    &__info {
        color: #fff;
        transition: color 0.3s;

        &:hover {
            color: $accent;
        }

        &:active {
            color: #fff;
        }
    }

    &__support {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        max-width: 310px;
        width: 100%;
    }

    &__link {
        color: $grey;
        fill: $grey;
        transition: fill 0.3s, color 0.3s;

        &--mail {
            position: relative;
            display: flex;
            align-items: center;
    
            &::after {
                content: '';
                position: absolute;
                right: -30px;
                width: 1px;
                height: 20px;
                background-color: rgba(#F3F4F8, 0.2);       
            }
        }

        &:hover {
            color: #fff;
            fill: #fff;
        }

        &:active {
            color: $accent;
            fill: $accent;
        }
    }

    &__mail-icon {
        margin-right: 10px; 
    }

    &__social {
        display: flex;
    }

    &__icon {
        &:not(:last-child) {
            margin-right: 13px;
        }
    }
}