.modern {

    padding: 114px 0 80px;

    @media(max-width: $tablet) {
        padding: 90px 0 70px;
    }

    @media(max-width: $medium) {
        padding: 60px 0 50px;
    }

    @media(max-width: $small-phone) {
        padding: 60px 0 30px;
    }

    &__top {
        margin-bottom: 57px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media(max-width: $medium) {
            margin-bottom: 40px;
            display: block;
        }
    }

    &__title {
        max-width: 484px;
        line-height: 1.1;

        @media(max-width: $medium) {
            margin: 0 auto 20px;
            display: block;
            text-align: center;
        }
    }

    &__subtitle {
        margin-bottom: 20px;

        @media(max-width: $medium) {
            display: block;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 321px;
        flex: 0 1 25%;
        border: 1px solid #e9eaf0;
        border-left: none;
        border-bottom: none;
        animation-delay: calc(0.2s * var(--i));

        &:not(:first-child) {
            padding-left: 30px;
        }

        &:hover {

            .modern__link {
                background-color: $accent;
                fill: #fff;
            }

            .modern__name {
                &::before {
                    animation: top-bottom 1.3s infinite ease-in-out;
                } 
            }
        }

        @keyframes top-bottom {
            0% {
                top: -36px;
            }

            50% {
                top: -50px;
            }

            100% {
                top: -36px;
            }
        }   
        
        @media(max-width: $medium) {
            flex: 0 1 50%;
            align-items: center;
            text-align: center;
            border-left: 1px solid #e9eaf0;
            border-bottom: 1px solid #e9eaf0;

            &:not(:first-child) {
                padding-left: 0;
            }
        }

        @media(max-width: $small-phone) {
            margin: 0 auto 20px;
            margin-bottom: 20px;
            flex: 0 1 auto;
            width: 320px;
            height: 280px;
        }
    }

    &__name {
        position: relative;
        max-width: 179px;
        font-weight: 600;
        font-size: 24px;
        
        &::before {
            position: absolute;
            content: '';
            top: -36px;
            transform: translateY(-100%);        
            background-repeat: no-repeat;

            @media(max-width: $medium) {
                left: 50%;
                transform: translate(-50%, -100%);
            }
        }

        &--development {
            &::before {
                background-image: url('../images/modern/website.jpg');
                width: 54px;
                height: 50px;
            }
        }

        &--finance {
            &::before {
                background-image: url('../images/modern/save.jpg');
                width: 56px;
                height: 64px;
            }
        }

        &--audit {
            &::before {
                background-image: url('../images/modern/web.jpg');
                width: 56px;
                height: 56px;
            }
        }

        &--design {
            &::before {
                background-image: url('../images/modern/design.jpg');
                width: 51px;
                height: 64px;
            }
        }
    }

    &__link {
        margin: 56px 0 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #e9eaf0;   
        outline: transparent;
        transition: background-color 0.3s, fill 0.3s, border 0.3s, box-shadow 0.3s; 

        &:active {
            border: 2px solid $accent;
            box-shadow: 0 0 10px $accent;
        }

        &:focus {
            box-shadow: 0 0 10px $accent;
        }

        @media(max-width: $small-phone) {
            margin: 30px 0 20px 0;
        }
    }
}