.questions {

    padding-bottom: 131px;

    &__title {
        margin: 0 auto 62px;
        text-align: center;
        max-width: 376px;
    }

    &__subtitle {
        margin-bottom: 25px;
    }
}